[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "and"]
	path = and
	url = https://github.com/rossellhayes/and
	shallow = true
	registered = true
[submodule "crossmap"]
	path = crossmap
	url = https://github.com/rossellhayes/crossmap
	shallow = true
	registered = true
[submodule "fauxnaif"]
	path = fauxnaif
	url = https://github.com/rossellhayes/fauxnaif
	shallow = true
	registered = true
[submodule "fracture"]
	path = fracture
	url = https://github.com/rossellhayes/fracture
	shallow = true
	registered = true
[submodule "incase"]
	path = incase
	url = https://github.com/rossellhayes/incase
	shallow = true
	registered = true
[submodule "ipa"]
	path = ipa
	url = https://github.com/rossellhayes/ipa
	shallow = true
	registered = true
[submodule "nombre"]
	path = nombre
	url = https://github.com/rossellhayes/nombre
	shallow = true
	registered = true
[submodule "plu"]
	path = plu
	url = https://github.com/rossellhayes/plu
	shallow = true
	registered = true
[submodule "stringstatic"]
	path = stringstatic
	url = https://github.com/rossellhayes/stringstatic
	shallow = true
	registered = true
[submodule "twenty48"]
	path = twenty48
	url = https://github.com/rossellhayes/twenty48
	shallow = true
	registered = true
